BODY
{
    BACKGROUND : rgb(17 , 17 , 17);
    COLOR : rgb(204 , 204 , 204);
}
input, textarea, select
{
    border-top-width : 1px;
    border-left-width : 1px;
    border-bottom-width : 1px;
    border-right-width : 1px;
}
/*.postbody { line-height: 18px; }  input { text-indent: 2px; } */
.prepostbody
{
    line-height : 14px;
    color : Black;
}
.size7
{
    line-height : inherit;
    font-size : 7px;
}
.size9
{
    line-height : inherit;
    font-size : 9px;
}
.size12
{
    line-height : inherit;
    font-size : 12px;
}
.size18
{
    line-height : inherit;
    font-size : 18px;
}
.size24
{
    line-height : inherit;
    font-size : 24px;
}
img
{
    border : 0px;
}
font, th, td, p
{
    font-family : verdana , arial , helvetica , sans-serif;
}
.smltxt
{
    line-height : normal;
    color : rgb(204 , 204 , 204);
    font-size : 11px;
    text-align : right;
    font-style : italic;
}
.smltxt-b
{
    line-height : normal;
    color : rgb(204 , 204 , 204);
    font-size : 11px;
    font-weight : bold;
    text-align : right;
    font-style : italic;
}
/* Links */
a:link
{
    color : rgb(204 , 204 , 204);
    text-decoration : none;
}
a:active
{
    color : rgb(204 , 204 , 204);
}
a:visited
{
    color : rgb(204 , 204 , 204);
    text-decoration : none;
}
a:hover
{
    color : rgb(255 , 255 , 102);
    text-decoration : none;
}
hr
{
    border : ridge rgb(136 , 136 , 136);
}
.bodyline
{
    border : 0 ridge rgb(153 , 153 , 153);
}
.forumline
{
    /*border : 2px ridge rgb(153 , 153 , 153); */
	 /*border: 1px solid #222222; */
}
/* td */
td.row1
{
    background-color : rgb(34 , 34 , 34);
}
td.row2
{
    background-color : rgb(34 , 34 , 34);
}
td.row3
{
    background-color : rgb(34 , 34 , 34);
}
td.row4
{
	background-color: rgb(102 , 0 , 0);
}
td.row5
{
	background-color: rgb(26 , 26, 26);
}
td.rowButton
{
	background-color: rgb(26 , 26, 26);
}
td.row1announce
{
    background-color : rgb(68 , 68 , 68);
}
td.row1sticky
{
    background-color : rgb(68 , 68 , 68);
}
td.row2announce
{
    background-color : rgb(68 , 68 , 68);
}
td.row2sticky
{
    background-color : rgb(68 , 68 , 68);
}
td.row3announce
{
    background-color : rgb(85 , 85 , 85);
}
td.row3sticky
{
    background-color : rgb(85 , 85 , 85);
}
td.rowwarn
{
    background-color : rgb(102 , 0 , 0);
}
td.rowpic
{
    background-image : url("../images/cellpic2.jpg");
    background-repeat : repeat-y;
    background-color : rgb(153 , 153 , 153);
}
th
{
    font-weight : bold;
    font-size : 10px;
    background-image : url("../images/cellpic3.gif");
    color : White;
    height : 25px;
    font-family : Verdana;
}
td.cat
{
    border-right : rgb(153 , 153 , 153) solid;
    border-top : rgb(153 , 153 , 153) solid;
    background-image : url("../images/cellpic1.gif");
    border-left : rgb(153 , 153 , 153) solid;
    border-bottom : solid rgb(153 , 153 , 153);
    height : 26px;
    background-color : rgb(223 , 223 , 223);
}
td.cathead
{
    border-right : solid rgb(153 , 153 , 153);
    border-top : solid rgb(153 , 153 , 153);
    background-image : url("../images/cellpic1.gif");
    border-left : solid rgb(153 , 153 , 153);
    border-bottom : solid rgb(153 , 153 , 153);
    height : 26px;
    background-color : rgb(204 , 204 , 204);
}
td.catsides
{
    border-right : rgb(153 , 153 , 153) solid;
    border-top : rgb(153 , 153 , 153) solid;
    background-image : url("../images/cellpic1.gif");
    border-left : rgb(153 , 153 , 153) solid;
    border-bottom : solid rgb(153 , 153 , 153);
    height : 26px;
    background-color : rgb(204 , 204 , 204);
}
td.catleft
{
	border-right: rgb(153 , 153 , 153) solid;
	border-top: rgb(153 , 153 , 153) solid;
	background-image: url("../images/cellpic1.gif");
	border-left: none;
	border-bottom: solid rgb(153 , 153 , 153);
	height: 26px;
	background-color: rgb(204 , 204 , 204);
}
td.catright
{
    border-right : rgb(153 , 153 , 153) solid;
    border-top : rgb(153 , 153 , 153) solid;
    background-image : url("../images/cellpic1.gif");
    border-left : rgb(153 , 153 , 153) solid;
    border-bottom : solid rgb(153 , 153 , 153);
    height : 26px;
    background-color : rgb(204 , 204 , 204);
}
td.catbottom
{
    border-right : rgb(153 , 153 , 153) solid;
    border-top : rgb(153 , 153 , 153) solid;
    background-image : url("../images/cellpic1.gif");
    border-left : rgb(153 , 153 , 153) solid;
    border-bottom : rgb(153 , 153 , 153) solid;
    height : 26px;
    background-color : rgb(204 , 204 , 204);
}
td.catbottomslim
{
    background-image : url("../images/cellpic1.gif");
    height : 10x;
}
td.cat
{
    border-top-width : 0px;
    border-left-width : 0px;
    border-bottom-width : 0px;
    height : 26px;
    border-right-width : 0px;
}
td.cathead
{
    border-top-width : 0px;
    border-left-width : 0px;
    border-bottom-width : 0px;
    height : 26px;
    border-right-width : 0px;
}
td.catbottom
{
    border-top-width : 0px;
    border-left-width : 0px;
    border-bottom-width : 0px;
    height : 26px;
    border-right-width : 0px;
}
th.thhead
{
    font-weight : bold;
    height : 26px;
}
th.thsides
{
    font-weight : bold;
    height : 26px;
}
th.thtop
{
    font-weight : bold;
    height : 26px;
}
th.thleft
{
    font-weight : bold;
    height : 26px;
}
th.thright
{
    font-weight : bold;
    height : 26px;
}
th.thbottom
{
    font-weight : bold;
    height : 26px;
}
th.thcornerl
{
    font-weight : bold;
    height : 26px;
}
th.thcornerr
{
    font-weight : bold;
    height : 26px;
}
td.row3right
{
	border-right: none;
	border-top: rgb(136 , 136 , 136) solid;
	border-left: rgb(136 , 136 , 136) solid;
	border-bottom: solid rgb(136 , 136 , 136);
	background-color: rgb(34 , 34 , 34);
}
td.spacerow
{
    border-right : solid;
    border-top : solid;
    border-left : solid;
    border-bottom : solid;
    background-color : rgb(119 , 119 , 119);
}
th.thhead
{
    border-top-width : 1px;
    border-left-width : 1px;
    font-size : 12px;
    border-bottom-width : 0px;
    border-right-width : 1px;
}
td.cathead
{
    border-top-width : 1px;
    border-left-width : 1px;
    font-size : 12px;
    border-bottom-width : 0px;
    border-right-width : 1px;
}
th.thsides
{
    border-top-width : 0px;
    border-left-width : 1px;
    border-bottom-width : 0px;
    border-right-width : 1px;
}
td.catsides
{
    border-top-width : 0px;
    border-left-width : 1px;
    border-bottom-width : 0px;
    border-right-width : 1px;
}
td.spacerow
{
    border-top-width : 0px;
    border-left-width : 1px;
    border-bottom-width : 0px;
    border-right-width : 1px;
}
th.thright
{
    border-top-width : 0px;
    border-left-width : 0px;
    border-bottom-width : 0px;
    border-right-width : 1px;
}
td.catright
{
    border-top-width : 0px;
    border-left-width : 0px;
    border-bottom-width : 0px;
    border-right-width : 1px;
}
td.row3right
{
    border-top-width : 0px;
    border-left-width : 0px;
    border-bottom-width : 0px;
    border-right-width : 1px;
}
th.thleft
{
    border-top-width : 0px;
    border-left-width : 1px;
    border-bottom-width : 0px;
    border-right-width : 0px;
}
td.catleft
{
    border-top-width : 0px;
    border-left-width : 1px;
    border-bottom-width : 0px;
    border-right-width : 0px;
}
th.thbottom
{
    border-top-width : 0px;
    border-left-width : 1px;
    border-bottom-width : 1px;
    border-right-width : 1px;
}
td.catbottom
{
    border-top-width : 0px;
    border-left-width : 1px;
    border-bottom-width : 1px;
    border-right-width : 1px;
}
th.thtop
{
    border-top-width : 1px;
    border-left-width : 0px;
    border-bottom-width : 0px;
    border-right-width : 0px;
	font-size: 10px;
}
th.thcornerl
{
    border-top-width : 1px;
    border-left-width : 1px;
    border-bottom-width : 0px;
    border-right-width : 0px;
	font-size: 12px;
}
th.thcornerr
{
    border-top-width : 1px;
    border-left-width : 0px;
    border-bottom-width : 0px;
    border-right-width : 1px;
	 	font-size: 12px;
}
.maintitle
{
    font-weight : bold;
    font-size : 12px;
    color : rgb(255 , 204 , 51);
    line-height : 120%;
    font-family : verdana , arial , helvetica , sans-serif;
    text-decoration : none;
}
.forumtitle
{
    font-weight : bold;
    font-size : 12px;
    color : rgb(255 , 204 , 51);
    line-height : 120%;
    font-family : verdana , arial , helvetica , sans-serif;
    text-decoration : none;
}
.ttitle
{
    font-family : verdana , arial , helvetica , sans-serif;
    color : rgb(255 , 255 , 102);
    font : bold 10px Verdana , Geneva , Arial , Helvetica , sans-serif;
}
.gen, .poll
{
    font-size : 10px;
    color : White;
}

.genmed
{
    font-size : 11px;
    color : rgb(204 , 204 , 204);
}
.genmedita
{
    font-size : 11px;
    color : rgb(204 , 204 , 204);
    font-style : italic;
}
.quotetxt
{
    font-size : 10px;
    color : rgb(255 , 255 , 102);
}
.name
{
    font-size : 11px;
    color : rgb(204 , 204 , 204);
}
.postdetails
{
    font-size : 10px;
    color : White;
	text-align: justify;
}
.announcedetails
{
	font-size: 11px;
	color: White;
	text-align: justify;
	line-height: 16px;
}
.gensmall
{
    font-size : 11px;
    color : White;
}
.gensmallhitlite
{
    font-size : 11px;
    color : rgb(255 , 0 , 51);
}
.uprofile
{
    font-size : 10px;
    color : White;
}
.strong
{
    font-weight : bold;
}
.vote
{
    font-size : 10px;
    color : rgb(255 , 204 , 51);
}
.listpage
{
    font-size : 10px;
    color : rgb(255 , 255 , 102);
}
.liststyle
{
    font-size : 11px;
    color : Black;
}
.liststylelabel
{
    font-size : 10px;
    color : rgb(204 , 204 , 204);
}
.listitem
{
    list-style : circle inside;
}
.warn
{
    font-size : 10px;
    color : rgb(255 , 0 , 51);
    font-weight : bold;
}
.lockedTitle
{
    font-size : 10px;
    color : rgb(255 , 0 , 51);
    font-weight : bold;
}
.warnedTitle
{
    font-size : 10px;
    color : rgb(255 , 153 , 51);
    font-weight : bold;
}
.topten
{
    font-size : 10px;
    color : rgb(51 , 255 , 102);
    font-weight : bold;
}
.mainmenu
{
    font-size : 11px;
    color : White;
}
.topmenu
{
    font-size : 11px;
    color : White;
    font-weight : bold;
}
.cattitle
{
    font-weight : bold;
    font-size : 11px;
    color : White;
    letter-spacing : 1px;
}
.forumlink
{
    font-weight : bold;
    font-size : 11px;
    color : White;
}
.topictitle
{
    font-weight : normal;
    font-size : 11px;
    color : rgb(255 , 255 , 102);
}
.nav
{
    font-weight : bold;
    font-size : 10px;
    color : White;
}
blockquote
{
    color : White;
    font-family : Verdana , Geneva , Arial , Helvetica , sans-serif;
    background-color : rgb(68 , 68 , 68);
    margin : 10px 10px 10px 10px;
    padding : 10px 10px 10px 10px;
    border-bottom : 1px inset rgb(68 , 68 , 68);
    border-right : 1px inset rgb(68 , 68 , 68);
    border-left : 1px solid rgb(51 , 51 , 51);
    border-top : 1px solid rgb(51 , 51 , 51);
    overflow : auto;
    font-size : 10px;
    line-height : 14px;
}
.link
{
    color : rgb(255 , 255 , 102);
}
.limitview
{
    height : auto;
    width : 85%;
    overflow : auto;
    clip : auto;
    visibility : inherit;
}
.coded
{
    color : White;
    width : 90%;
    font-family : "Times New Roman" , Times , serif;
    background-color : rgb(68 , 68 , 68);
    margin : 10px 10px 10px 10px;
    padding : 10px 10px 10px 10px;
}
.incoded
{
	width : 80%;
	white-space: nowrap;
}

pre {
	width: 99%;
  overflow: auto;
  padding: 0;
  margin: 0;
}

pre.incoded
{
    visibility : inherit;
    overflow : auto;
}
.pre-error
{
    font-size : 10px;
    color : White;
    font-family : verdana , arial , helvetica , sans-serif;
    background-color : rgb(119 , 119 , 119);
    border : 0;
    padding-left : 0;
}
cite
{
    font-weight : bold;
    font-style : italic;
    font-size : 11px;
}
/*pre { font-family: courier, 'courier new', sans-serif;   overflow : auto;}*/
.copyright
{
    font-size : 10px;
    color : rgb(153 , 153 , 153);
    font-family : verdana;
}
.postNo
{
    font-size : 10px;
    color : rgb(153 , 153 , 153);
    font-family : verdana;
    text-align: right;
}
/* posts */
.postbody
{
    font-size : 12px;
    overflow : auto;
    line-height : 18px;
}
.posttype
{
    font-size : 11px;
	 color: #777777;
    overflow : auto;
	font-style: normal;
}
.postbodywarn
{
    font-size : 12px;
    overflow : auto;
    background-color : rgb(102 , 0 , 0);
    line-height : 18px;
}
.postinfo
{
    font-size : 10px;
    color : White;
}
.postinfo .date
{
    float : left;
    width : 160px;
    color : rgb(204 , 204 , 204);
}
.postinfo
{
    float : left;
}
.postinfo .action
{
    float : right;
}
.postborder
{
	border: 1px solid #a4a4a4;
}
.subject
{
    float : left;
    color : rgb(255 , 204 , 51);
    font-size : 12px;
    font-weight : bold;
    font-family : Verdana , Geneva , Arial , Helvetica , sans-serif;
}
.subjectsmall
{
    float : left;
    color : rgb(255 , 204 , 51);
    font-size : 10px;
    font-weight : bold;
    font-family : Verdana , Geneva , Arial , Helvetica , sans-serif;
}
a.copyright
{
    color : rgb(68 , 68 , 68);
    text-decoration : none;
}
a.copyright:hover
{
    color : rgb(0 , 0 , 0);
    text-decoration : underline;
}
input, textarea, select
{
    border-left-color : rgb(0 , 0 , 0);
    border-bottom-color : rgb(0 , 0 , 0);
    font : 11px verdana , arial , helvetica , sans-serif;
    color : rgb(0 , 0 , 0);
    border-top-color : rgb(0 , 0 , 0);
    border-right-color : rgb(0 , 0 , 0);
}
input
{
    text-indent : 2px;
}
input.button
{
    font-size : 10px;
    color : rgb(0 , 0 , 0);
    font-family : verdana , arial , helvetica , sans-serif;
    background-color : #FFFF99;
	 text-align: center;
}
input.mainoption
{
    font-weight : bold;
    background-color : White;
}
input.liteoption
{
    font-weight : normal;
    background-color : White;
}
.helpline
{
    border-top-style : none;
    border-right-style : none;
    border-left-style : none;
    background-color : White;
    border-bottom-style : none;
}
.moderatortitle
{
    font-weight : bold;
    font-size : 12px;
    color : rgb(255 , 153 , 0);
}
.moderator
{
    font-size : 10px;
    color : rgb(255 , 153 , 0);
}
.pre-moderator
{
    font-size : 10px;
    color : Yellow;
}
.member
{
    font-size : 10px;
    color : rgb(204 , 204 , 204);
}
.elite-member
{
    font-size : 10px;
    color : rgb(51 , 204 , 51);
}
.exmod
{
	font-size: 10px;
	color: rgb(51 , 102 , 204);
}
.admin
{
    font-size : 10px;
    color : rgb(255 , 51 , 51);
}
.lock
{
    font-size : 10px;
    color : rgb(153 , 153 , 153);
}
.online
{
    color : rgb(51 , 255 , 102);
}
.offline
{
    color : rgb(204 , 204 , 255);
}
.bg
{
}
.moderating
{
    Background-color : rgb(102, 0, 0);
}
.portalheaderMain
{
	font-size: 11px;
	color: white;
	font-weight: bold;
}
.portalheader
{
	font-size: 11px;
	color: #FF9933;
	font-weight: bold;
}
.portalheaderadvLarge
{
	font-size: 11px;
	color: #0099CC;
	font-weight: bold;
}
.portalheaderexpLarge
{
	font-size: 11px;
	color: #FF0033;
	font-weight: bold;
}
.portalheadervirLarge
{
	font-size: 11px;
	color: Yellow;
	font-weight: bold;
}
.portalheaderadv
{
	font-size: 10px;
	color: #0099CC;
	font-weight: bold;
}
.portalheaderexp
{
	font-size: 10px;
	color: #FF0033;
	font-weight: bold;
}
.portalheadervir
{
	font-size: 10px;
	color: Yellow;
	font-weight: bold;
}
th.thportal
{
	font-weight: bold;
	height: 20px;
	font-size: 12px;
}
.portaldetails
{
	font-size: 11px;
	color: White;
	text-align: justify;
	line-height: 18px;
}
.portaldetailsAlert
{
	font-size: 11px;
	color: White;
	line-height: 18px;
	text-align: justify;
}
.portaltxt
{
    font-size : 11px;
    color : rgb(204 , 204 , 204);
	text-align: justify;
	line-height: 17px;
}
.portalborder
{
	border: 1px solid #222222;
	margin: 5px 5px;
}
.thportal
{
    font-weight : bold;
    font-size : 10px;
    background-image : url("../images/cellpic3.gif");
    color : White;
    height : 20px;
    font-family : Verdana;
}
.portaltopmenu
{
	font-size: 11px;
	color: White;
	font-weight: bold;
	text-align: center;
}
.portalcattitle
{
    font-weight : bold;
    font-size : 11px;
    color : White;
    letter-spacing : 1px;
	text-align: center;
}

th.readingheader
{
	 font-weight : bold;
    font-size : 10px;
    background-image : url("../images/cellpic3.gif");
    color : White;
    height : 20px;
    font-family : Verdana;
}

.readingheader
{
	font-size: 11px;
	color: #0099ff;
	font-weight: bold;
	text-align: center;
}

.readingborder
{
	border: 1px solid #222222;
	margin: 5px 5px;
	text-align: center;
}

.readingborderLeft
{
	border: 1px solid #222222;
	margin: 5px 5px;
	text-align: left;
}

.readingborderRight
{
	border: 1px solid #222222;
	margin: 5px 5px;
	text-align: right;
}

.readingborderBottom
{
	border-bottom: 1px solid #444444;
}

.readingabstract
{
    font-size : 11px;
	 font-style: italic;
    line-height : 16px;
	 text-align: justify;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
}

.term
{
    color : #20b2aa;
}

.warns
{
    font-weight : bold;
    font-size : 12px;
    color : #ff3333;
    text-decoration: blink;
}
